export PKG_CONFIG_PATH="/usr/local/opt/libxml2/lib/pkgconfig"
export LC_ALL=en_US.UTF-8
export PYTHON_CONFIGURE_OPTS="--enable-framework"

export FZF_DEFAULT_COMMAND='rg --files --no-ignore --hidden --follow --glob "!.git/*"'
export HDF5_DIR=/opt/homebrew/opt/hdf5
export postgres_db_name="postgres"
export postgres_username="jacobo.blanco"
export postgres_password="jacob_test"
export postgres_host="localhost"
export ENV="local"
export ENVIRONMENT="local"