export PKG_CONFIG_PATH="/usr/local/opt/libxml2/lib/pkgconfig"
export LC_ALL=en_US.UTF-8
export PYTHON_CONFIGURE_OPTS="--enable-framework"

export FZF_DEFAULT_COMMAND='rg --files --no-ignore --hidden --follow --glob "!.git/*"'
