<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>DA077F88-F3A7-480F-B945-31DF2E02A809</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A06A981-29E9-4050-BC86-D3C96C8B0603</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Project Code Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>2A06A981-29E9-4050-BC86-D3C96C8B0603</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>p f</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export query="$1"

output="{\"items\":["

while read line;
do
output="${output} {\"uid\": \"${post}\",\"title\": \"${line}\",\"subtitle\": \"~/Documents/projects/${line}\",\"arg\": \"~/Documents/projects/${line}\",\"type\":\"file\", \"icon\": {\"type\": \"fileicon\",\"path\":\"~/Documents/projects/${line}\"}},"
done &lt;&lt;&lt; "$(ls /Users/jacobo.blanco/Documents/projects)"

while read line;
do
output="${output} {\"uid\": \"${post}\",\"title\": \"${line}\",\"subtitle\": \"~/Documents/projects/zz-archive/${line}\",\"arg\": \"~/Documents/projects/zz-archive/${line}\",\"type\":\"file\", \"icon\": {\"type\": \"fileicon\",\"path\":\"~/Documents/projects/zz-archive/${line}\"}},"
done &lt;&lt;&lt; "$(ls /Users/jacobo.blanco/Documents/projects/zz-archive)"

output=${output%?}

echo "${output} ]}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>searching for project codes</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DA077F88-F3A7-480F-B945-31DF2E02A809</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2A06A981-29E9-4050-BC86-D3C96C8B0603</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>DA077F88-F3A7-480F-B945-31DF2E02A809</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
