<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Kafka</string>
	<key>connections</key>
	<dict>
		<key>13667EA6-70E8-46DA-B3E4-81D14F1CD11E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>462A8ADE-CD34-4712-9FD4-F664A82D72BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2146DCCC-A1A9-4B75-AF44-117AEB556F45</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93B3BD57-4474-416C-AF54-44A04CA046C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>457AA9D4-CB17-44D9-A762-866C14606FE4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5B24A22-0FCD-4F7F-AD01-7D05D74A9340</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>48D10300-E256-4282-BCE0-7F6FA67CAA04</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D01A5EBD-FA95-4CE9-9B5A-F7C09D276027</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8DA0CA1B-4187-43EE-A8B9-755EB95F92DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E17C7CAE-BC85-4873-B636-06BB4C7C33CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>93B3BD57-4474-416C-AF54-44A04CA046C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B7284CA7-62F7-45D3-B745-ABF7BAEA5181</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A57775A1-38AB-4E48-8785-2787331B58A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2146DCCC-A1A9-4B75-AF44-117AEB556F45</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A5B24A22-0FCD-4F7F-AD01-7D05D74A9340</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8DA0CA1B-4187-43EE-A8B9-755EB95F92DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B7284CA7-62F7-45D3-B745-ABF7BAEA5181</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13667EA6-70E8-46DA-B3E4-81D14F1CD11E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B9789F90-3C2F-4628-B31B-1B0874BA3874</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>457AA9D4-CB17-44D9-A762-866C14606FE4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C42E99F9-361D-40C5-8106-CE069D186F2A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9789F90-3C2F-4628-B31B-1B0874BA3874</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D01A5EBD-FA95-4CE9-9B5A-F7C09D276027</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A57775A1-38AB-4E48-8785-2787331B58A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jacobo Blanco</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Kafka Snippet Triggered Workflows</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Offsets will be reset to {query}</string>
				<key>text</key>
				<string>Enter timestamp to reset offsets to</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B7284CA7-62F7-45D3-B745-ABF7BAEA5181</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>{query} will be used as the target topic name</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2146DCCC-A1A9-4B75-AF44-117AEB556F45</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>treset</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>48D10300-E256-4282-BCE0-7F6FA67CAA04</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>{query} will be used as the group name</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D01A5EBD-FA95-4CE9-9B5A-F7C09D276027</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>kafka_consumer_groups --bootstap {var:bootstrap_server} --topic {var:topic_name} --group-name {var:group_name} --reset-offset --to-timestamp {var:timestamp}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>462A8ADE-CD34-4712-9FD4-F664A82D72BF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>timestamp</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>13667EA6-70E8-46DA-B3E4-81D14F1CD11E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>topic_name</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>93B3BD57-4474-416C-AF54-44A04CA046C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>group_name</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A57775A1-38AB-4E48-8785-2787331B58A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>{query} will be used as the group name</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B9789F90-3C2F-4628-B31B-1B0874BA3874</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>{query} will be used as the target topic name</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A5B24A22-0FCD-4F7F-AD01-7D05D74A9340</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>kafka_consumer_groups --bootstrap {var:bootstrap_server} --topic {var:topic_name} --group-name {var:group_name} --reset-offset --to-earliest</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E17C7CAE-BC85-4873-B636-06BB4C7C33CD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>ereset</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>C42E99F9-361D-40C5-8106-CE069D186F2A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>group_name</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>457AA9D4-CB17-44D9-A762-866C14606FE4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>topic_name</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8DA0CA1B-4187-43EE-A8B9-755EB95F92DE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>13667EA6-70E8-46DA-B3E4-81D14F1CD11E</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>685</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>2146DCCC-A1A9-4B75-AF44-117AEB556F45</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Topic Name</string>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>457AA9D4-CB17-44D9-A762-866C14606FE4</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>295</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>462A8ADE-CD34-4712-9FD4-F664A82D72BF</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>48D10300-E256-4282-BCE0-7F6FA67CAA04</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>8DA0CA1B-4187-43EE-A8B9-755EB95F92DE</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>93B3BD57-4474-416C-AF54-44A04CA046C1</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>A57775A1-38AB-4E48-8785-2787331B58A6</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>295</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>A5B24A22-0FCD-4F7F-AD01-7D05D74A9340</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Topic Name</string>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>B7284CA7-62F7-45D3-B745-ABF7BAEA5181</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>"Reset To" Timestamp</string>
			<key>xpos</key>
			<integer>545</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>B9789F90-3C2F-4628-B31B-1B0874BA3874</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Consumer Group Name</string>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>C42E99F9-361D-40C5-8106-CE069D186F2A</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>D01A5EBD-FA95-4CE9-9B5A-F7C09D276027</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Consumer Group Name</string>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>E17C7CAE-BC85-4873-B636-06BB4C7C33CD</key>
		<dict>
			<key>xpos</key>
			<integer>545</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>bootstrap_server</key>
		<string>10.0.0.1</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>bootstrap_server</string>
	</array>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
