<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.masterjay.connect_to_vpn</string>
	<key>category</key>
	<string>Work Only</string>
	<key>connections</key>
	<dict>
		<key>1643C578-6E9E-4C1C-A93A-7C009EF98FDD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>779B6B42-CBA7-4F61-A263-09C9AD9C6009</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C3047ED1-0492-4508-A95B-5CE67F2BC2BC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A09A8BC2-62AB-4882-8CA6-52DB52162A35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9512F0B0-C021-4585-85A9-A038867DE07B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>166FF87B-CEF1-4472-9715-185386A90A34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>44A19A56-CB36-4722-8E05-2BBF9DE4855C</key>
		<array/>
		<key>5485C8A5-790D-4360-8F67-1B05A4C7138F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1643C578-6E9E-4C1C-A93A-7C009EF98FDD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>779B6B42-CBA7-4F61-A263-09C9AD9C6009</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D100C0F1-22C7-473A-BCEB-0B74275901C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>44A19A56-CB36-4722-8E05-2BBF9DE4855C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A09A8BC2-62AB-4882-8CA6-52DB52162A35</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D100C0F1-22C7-473A-BCEB-0B74275901C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>44A19A56-CB36-4722-8E05-2BBF9DE4855C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A8918838-976A-4C8A-87D3-2DD593CBC757</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A09A8BC2-62AB-4882-8CA6-52DB52162A35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D100C0F1-22C7-473A-BCEB-0B74275901C9</key>
		<array/>
		<key>F4E7E6ED-5202-4976-B749-CEC00BE1CAAF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>779B6B42-CBA7-4F61-A263-09C9AD9C6009</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jacobo Blanco</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Connect to VPN</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>96</integer>
				<key>script</key>
				<string>def connect_to_vpn() {
	eval $(/usr/local/bin/op signin --account my &lt;&lt;&lt; Jacobla1988); /usr/local/bin/op item get --otp $1 | tr -d '\n' | pbcopy
	osascript ~/.local_scripts/$2
}

connect_to_vpn {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D100C0F1-22C7-473A-BCEB-0B74275901C9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>Prod VPN</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>F4E7E6ED-5202-4976-B749-CEC00BE1CAAF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>"Instant Production VPN" production_vpn.scpt</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>env</key>
					<string>Production</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>779B6B42-CBA7-4F61-A263-09C9AD9C6009</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Connecting to {var:env}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>44A19A56-CB36-4722-8E05-2BBF9DE4855C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>"Instant Staging VPN" staging_vpn.scpt</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>env</key>
					<string>Staging</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A09A8BC2-62AB-4882-8CA6-52DB52162A35</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>p</string>
						<key>outputlabel</key>
						<string>Production</string>
						<key>uid</key>
						<string>C3047ED1-0492-4508-A95B-5CE67F2BC2BC</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>s</string>
						<key>outputlabel</key>
						<string>Staging</string>
						<key>uid</key>
						<string>9512F0B0-C021-4585-85A9-A038867DE07B</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>1643C578-6E9E-4C1C-A93A-7C009EF98FDD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Production","arg":"p","subtitle":"Production VPN"},{"title":"Staging","arg":"s","subtitle":"Staging VPN"}]</string>
				<key>keyword</key>
				<string>vpn</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Connect to VPN environment</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>5485C8A5-790D-4360-8F67-1B05A4C7138F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>The environment is wrong</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>166FF87B-CEF1-4472-9715-185386A90A34</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>Staging VPN</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>A8918838-976A-4C8A-87D3-2DD593CBC757</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1643C578-6E9E-4C1C-A93A-7C009EF98FDD</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>166FF87B-CEF1-4472-9715-185386A90A34</key>
		<dict>
			<key>xpos</key>
			<integer>1050</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>44A19A56-CB36-4722-8E05-2BBF9DE4855C</key>
		<dict>
			<key>xpos</key>
			<integer>1055</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>5485C8A5-790D-4360-8F67-1B05A4C7138F</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>779B6B42-CBA7-4F61-A263-09C9AD9C6009</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>A09A8BC2-62AB-4882-8CA6-52DB52162A35</key>
		<dict>
			<key>xpos</key>
			<integer>745</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>A8918838-976A-4C8A-87D3-2DD593CBC757</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>365</integer>
		</dict>
		<key>D100C0F1-22C7-473A-BCEB-0B74275901C9</key>
		<dict>
			<key>xpos</key>
			<integer>1045</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>F4E7E6ED-5202-4976-B749-CEC00BE1CAAF</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
